.App {
  text-align: center;
}
body{
   
  background-color: #fa4c4c;
  
}
.Histogram {
   
  margin: 4%;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.Button{
 color: rgb(150, 11, 11);
}

.cachedIcon{
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.cachedIcon:hover{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
.stackContainer{
  margin-top: 8%;
  margin-left: 70%;
  margin-right: 5%;
  background-color: #ffffff29;
  width: fit-content;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
}




.INFO {
  display: block;
  background-color: #2929293b;
  
  border-radius: 4px;
}